* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  min-width: 300px;
  max-width: 400px;
  background-color: lightpink;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 300px;
  border-radius: 40px;
  padding: 40px 20px;
}

.display {
  background-color: lightyellow;
  display: flex;
  justify-content: right;
  padding: 6px 10px;
}

.buttons {
  margin-top: 20px;
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
  padding: 6px 20px;
  border-radius: 20px;
}

.main-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nums {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: auto;
  gap: 8px;
}

.nums > button {
  width: 30%;
}

.ops {
  background-color: mediumturquoise;
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 8px;
  padding: 16px 4px;
}

.misc {
  display: flex;
  margin-top: 8px;
  background-color: mediumpurple;
  justify-content: space-around;
}
